div.card(action='', id=`_${i.id}`, novalidate)
    div.card-header= i.name
    div.card-body
        div.card-text.clearfix
            button.btn.btn-danger.btn-sm.float-left.delete-card(type='button')
                i.fas.fa-trash-alt
                | Excluir
            button.btn.btn-success.btn-sm.float-right.complete-card(type='button', title='Tarefa completa')
                i.fas.fa-check
            button.btn.btn-warning.btn-sm.float-right.edit-card(type='button')
                i.fas.fa-edit
                | Editar
            button.btn.btn-success.btn-sm.float-right.save-card.d-none(type='button')
                i.fas.fa-edit
                | Salvar
            button.btn.btn-success.btn-sm.float-right.update-card.d-none(type='button')
                i.fas.fa-edit
                | Atualizar