div.card(id=`_${i.id}`)
    div.card-header= i.name
    div.card-body
        div.card-text.clearfix
            button.btn.btn-danger.btn-sm.float-left.delete-card(type='button')
                i.fas.fa-trash-alt
                | Excluir