body {
    background-color: #f2f2f2;
    font-weight: 400;
}

h1, h2 {
    font-weight: 900;
}

h3, h4 {
    font-weight: 700;
}

.navbar-light {
    border-bottom: 3px solid #eaeaea;
    margin-bottom: 2rem;
}

.navbar-light > .navbar-brand {
    color: #636363;
}

.navbar-brand i, .add-task i, .card-text i {
    display: inline-block;
    margin-right: 1rem;
    opacity: .7;
}

.todo-blocks > div {
    padding: 1rem;
}

.todo-list {
    border-radius: 10px;
    border: 2px solid #eaeaea;
    min-height: 15.625rem;
    background-color: #fff;
    padding: 1.2rem;
}

.todo-list .card:not(:first-child) {
    margin-top: 1rem;
}

.add-task {
    margin-top: 1rem;
    padding-left: 1rem;
}

.card-text button:first-child {
    margin-right: 1rem;
}

.list-title {
    margin-bottom: 1rem;
    color: #636363;
}